body {
  font:13px/1.5 Helvetica,Arial,sans-serif;
  color: #6d6f71;
  background-color: white;
  margin: 0;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
}

.content-wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 5px;
}

.wrapperforstickyfooter {
  min-height: 100%;
  margin-bottom: -60px;
}



/* Global Header & Footer Admin pages
------------------------------------*/

header, footer {
  background-color: KHAKI;
  line-height:150%;
  font-weight: normal;
  /*border-bottom-width:10px;
  border-bottom-color: black;*/
  /*padding-top: -10px;*/
}

/* Header */

.logo {
  width: 250px;
  margin-left:-30px;
}


.templateBtnToolbar {
  background-color: rgb(0,143,197);
  color: white;
  border-color: rgb(0,143,197);
}

.templateBtnToolbar:hover {
  background-color: rgb(0,143,197);
  color: rgb(227,111,30);
  border-color: rgb(0,143,197);
}

.logout-btn {
  color: white;
}

.loginTitle  {
  color: blue;
  text-align: center;
  font: 300% "Ariel", Verdana, sans-serif;
  margin-top: -10px;
}
