.loginTitle  {
  color: blue;
  text-align: center;
  font: 300% "Ariel", Verdana, sans-serif;
}

.loginHeader {
  text-align: center;
  font: 120% "Century Gothic", Verdana, sans-serif;
}

.loginDescription {
  text-align: center;
  font: 120% "Century Gothic", Verdana, sans-serif;
}

.login-fields-all {
  width: 50%;
}

.login-field {
  margin-bottom: 5px;
}

.sign_up-link {
  width: 100%;
}

.login-footer {
  color: Grey;
}
