body {
  font:13px/1.5 Verdana,Helvetica,Arial,sans-serif;
  color: #6d6f71;
  background-color: white;
  margin: 0;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
}

a {
  font-style: bold;
  padding: 5px;
}

a:hover {
  color: rgb(227,111,30);
}

.content-wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 5px;
}

.wrapperforstickyfooter {
  min-height: 100%;
  margin-bottom: -60px;
}

.push{
  height:60px
}


/* Global Header & Footer Admin pages
------------------------------------*/

header, footer {
  background-color: rgb(0,143,197);
  line-height:150%;
  font-weight: normal;
  /*border-bottom-width:10px;
  border-bottom-color: black;*/
  /*padding-top: -10px;*/
}

/* Header */

.logo {
  width: 250px;
  margin-left:-30px;
}
header{
  font: 120% "Century Gothic", Verdana, sans-serif;
  margin-bottom: 30px;
  text-align: left;
  font-weight:normal;
}

.templateBtnToolbar {
  background-color: rgb(0,143,197);
  color: white;
  border-color: rgb(0,143,197);
}

.templateBtnToolbar:hover {
  background-color: rgb(0,143,197);
  color: rgb(227,111,30);
  border-color: rgb(0,143,197);
}

.logout-btn {
  color: white;
}

.dash-tab-link {
  padding-top: 10px;
}

/* Footer */

footer {
  height: 60px;
  color: white;
  text-align: justify;
  padding-bottom:40px;
}

.link-footer-tem {
  color: white;
}


.loginTitle  {
  color: blue;
  text-align: center;
  font: 300% "ariel", Verdana, sans-serif;
}

.loginHeader {
  text-align: center;
  font: 120% "Century Gothic", Verdana, sans-serif;
}

.loginDescription {
  text-align: center;
  font: 120% "Century Gothic", Verdana, sans-serif;
}

.login-fields-all {
  width: 50%;
}

.login-field {
  margin-bottom: 5px;
}
